Closing Frame Without Status Code Interpreted As Abnormal

When I send a closing frame without a status code ie 0x8800 (masked or unmasked), the close callback returns 1006 while underneath it responds to the connection with 1000. Perhaps 1005 and 1006 were mixed up?

RFC6455 Section 7.4.1

> 1005 is a reserved value and MUST NOT be set as a status code in a Close control frame by an endpoint.  It is designated for use in applications expecting a status code to indicate that no status code was actually present.

> 1006 is a reserved value and MUST NOT be set as a status code in a Close control frame by an endpoint.  It is designated for use in applications expecting a status code to indicate that the connection was closed abnormally, e.g., without sending or receiving a Close control frame.

`npm websocket`: v2.15.11
`node`: v4.7.3

Hi, it’s hard to find a way to get in contact with you. That’s why I write to you at this place.

I found your old blogpost about Tree Drawing: http://tekuconcept.blogspot.de/2012/10/adjacency-sunburst-diagram-in-c.html
This is a very nice article. For people like me, who aren’t programming experts.

You only describe the way to generate the tree, but not how to draw. Maybe you can open a new repository for the tree drawing topic. I‘m in general interested in how to draw family trees. A normal tree structure isn’t enough, because of the fact people could be married to multiple partners. This makes it hard to generate the right coordinates and subtrees. How could such a tree structure look like, how to work on it with recursion to generate the tree coordinates? Hopefully you are open for my Input and sorry for placing my request here, but didn’t found any other contact to you.