Server doesn't close connection upon receiving an unmasked frame

[RFC 6455 section 5.1](https://tools.ietf.org/html/rfc6455#section-5.1) says that:

> The server MUST close the connection upon receiving a frame that is not masked.

This doesn't happen in current version (1.0.22). I suspect that the same problem is with:

> A client MUST close a connection if it detects a masked frame.

But I haven't had the opportunity to test it.

True, the server doesn't strictly enforce this. I'm a little bit surprised that the Autobahn Test Suite doesn't check for this, to be honest.

That being said, as a participant on the IETF working group that wrote the RFC, I wouldn't consider this to be a problem. The specific security concern that originally prompted this language to be included is mitigated by several other factors. And beside that, that exploit would actually require the attacker to control the server anyway. In that case, it wouldn't matter whether I wrote code to enforce the masking: the attacker would just modify the code to remove the restriction.

In reality, the primary practical motivation for that language in the RFC was actually to force the websocket client implementors (read: the browser vendors) to make sure to properly handle client-to-server masking and not take the easy way out. At this point, I don't think that's much of an ongoing risk, as the browsers have all stabilized their implementations, and non-browser clients can't be leveraged in the same way by an attacker because they don't generally blindly execute server-provided JavaScript like web browsers do.

Out of curiosity, what prompted you to look into this?

I just randomly discovered this and as I wasn't sure whether something depends on this, I thought it was worth mentioning.

Gotcha! I do appreciate the keen eye. Thanks for bringing it up!