auto reconnect on connection error or close

I am wondering how would a WebSocketClient() auto reconnect on getting a close or an error. Is there an example around it? 

Thank you.


Is their a good example to look at?

I'll provide my example for reconnection.

With `websocket v1.0.26` (no guarantee for former versions), you can handle the `connectFailed` event on the WebsocketClient instance and `close` event on the WebsocketConnection instance.

Note that in a `close` event, if the close code is `1000` which indicates a normal closure, I consider it no need for reconnection.

```js
// configs
const reconnectionAttempts = Infinity
const reconnectionDelay = 1000

const client = new WebsocketClient()
let attempts = 0

function reconnect () {
  setTimeout(function () {
    if (attempts < reconnectionAttempts) {
      attempts++
      client.connect() // reconnecting
    }
  }, reconnectionDelay)
}

client.on('connectFailed', reconnect)

client.on('connect', function (connection){
  connection.on('close', function (code) {
    if (code !== 1000) reconnect()
  })
})
```

For closure status code, take a look at [RFC 6455 Section 7.4](https://tools.ietf.org/html/rfc6455#section-7.4)